.greet{
    background-color: grey;
    padding: 10px;
}
.content{
    background-color: aqua;
    padding: 8px;
}
.head{
    background-color: brown;
    padding: 20px;
}
.Foot{
    background-color: beige;
    padding: 10px;
}